# User data and project settings/data
.Rproj.user
.Rhistory
.RData
.Ruserdata
data/*
docs/*
*docx

# Intermediate files and image caches
R/qaqc_reports/09_ss_sensitivity_cache/
R/qaqc_reports/09_ss_sensitivity_files/
R/survdat_pull_check_files/
R/map30challenge/
R/size_at_age/size_at_age_local_data/

# Ignore _targets files
_targets*/
_targetsdm*/
_targets_flow/*
